* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: currentColor;
}
form {
  box-shadow: 0 3px 3px hsla(0, 0%, 58%, 0.2) !important;
}
form:hover, form:focus {
  box-shadow: 0 0px 8px hsla(0, 0%, 58%, 0.7) !important;
}